<h2>Show Issue</h2>

<ul>

  <li>
    <strong>Subject:</strong>
    <%= @issue.subject %>
  </li>

  <li>
    <strong>Status:</strong>
    <%= @issue.status %>
  </li>

</ul>

<span><%= link "Edit", to: issue_path(@conn, :edit, @issue) %></span>
<span><%= link "Back", to: issue_path(@conn, :index) %></span>
